.checkbox {
	position: relative;
	display: flex;
	align-items: center;
	overflow-y: clip;
    overflow-x: auto;
	&:not(:last-child){
		margin: 0 0 rem(20) 0;
	}
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
		&:checked + .checkbox__label > .checkbox__box::after {
			transform: scale(1);
		}
	}
	// .checkbox__text
	&__text {
		position: relative;
		color: $secondaryColor;
		cursor: pointer;
		white-space: wrap;
		&_terms {
			color: $white;
		}
		
	}
	// .checkbox__text
	&__box {
		display: flex;
		position: relative;
		align-self: flex-start;
		align-items: center;
		height: em(19.2, 16);
		&::before {
			content: "";
			align-self: center;
			display: block;
			flex: 0 0 rem(18);
			width: rem(18);
			height: rem(18);
			background: #fff;
			border: rem(1) solid #e8aa31;
			border-radius: rem(2);
		}
		
		&::after{
			content: '';
			position: absolute;
			align-self: center;
			top: calc(em(9.6, 16) - rem(6));
			left: rem(3);
			width: rem(12);
			height: rem(12);
			border-radius: rem(1);
			background-color: $mainColor;
			transform: scale(0);
			transition: 0.1s ease-in-out transform;
		}

		&_terms {
			height: em(30, 20);
			&::before{
				flex: 0 0 rem(16);
				width: rem(16);
				height: rem(16);
				border: none;
			}
			&::after{
				left: rem(2);
				top: calc(em(15, 20) - rem(6));
				width: rem(12);
				height: rem(12);
			}
		}
	}
	// .checkbox__label
	&__label{
		line-height: 1.2;
		white-space: nowrap;
		font-size: rem(16);
		gap: rem(14);
		display: flex;
		align-items: center;
		color: $mainColor;
		align-items: flex-end;
		cursor: pointer;
		
		
		&_terms{
			line-height: 1.5;
			// font-size: 20px;
			color: $white;
		}
	}
	&._error {
		.checkbox__text {
			&:before {
				border: 1px solid #ee1212;
			}
		}
	}
}