.quantity {
	width: rem(150);
	height: rem(50);
	display: flex;
	// .quantity__button
	&__button {
		flex: 0 0 rem(50);
		position: relative;
        background-color: $secondaryColor;
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transition: all 0.3s ease 0s;
			margin: 0px 0px 0px -4.5px;
			background-color: #fff;
			width: 9px;
			height: 1px;
		}
		@media (min-width: $tablet) {
			&:hover {
				&::before,
				&::after {
					// background-color: rgba(0, 0, 0, 0.5);
				}
			}
		}
		// .quantity__button_plus
		&_plus {
          
			&::before {
				transform: rotate(-90deg);
			}
		}
		// .quantity__button_minus
		&_minus {
            
		}
	}
	// .quantity__input
	&__input {
		flex: 1 1 auto;

		input {
			height: 100%;
			width: 100%;
			text-align: center;
            font-weight: 400;
            font-size: 18px;
            outline: none;
		}
	}
}