[data-spoiler] +[hidden] {
    display: none !important;
}

[data-spoilers]:not(._init) {
    :where([data-spoiler][class*="_icon"]) {
        &::before {
            display: none;
        }
        &{
            flex-direction: row;
        }
    }
}

[data-spoilers]:not(._init) [data-spoilers]._init {
    :where([data-spoiler][class*="_icon"]) {
        &::before {
            display: block;
        }
        &{
            flex-direction: row-reverse;
        }
    }
}

:where([data-spoiler][class*="_icon"]) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    &::before {
        font-size: em(10, 20);
        transition: transform 0.2s ease-in-out;
    }
}
:where([data-spoiler]._active) {
    &::before {
        transform: rotateZ(180deg);
    }
}