@font-face{
	font-family: RedHatText;
	font-display: swap;
	src: url("../fonts/RedHatText-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: RedHatText;
	font-display: swap;
	src: url("../fonts/RedHatText-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: RedHatText;
	font-display: swap;
	src: url("../fonts/RedHatText-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family: RedHatText;
	font-display: swap;
	src: url("../fonts/RedHatText-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: RedHatText;
	font-display: swap;
	src: url("../fonts/RedHatText-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face{
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
