$lrl: rem(1399);
$mdl: rem(1199);
$sml: rem(1023);
$tbl: rem(991);
$lrp: rem(767);
$mdp: rem(575);
$smp: rem(479);

$lrl-mf: rem(1400);
$mdl-mf: rem(1200);
$sml-mf: rem(1024);
$tbl-mf: rem(992);
$lrp-mf: rem(768);
$mdp-mf: rem(576);
$smp-mf: rem(480);