$lrl: em(1399);
$mdl: em(1199);
$sml: em(1023);
$tbl: em(991);
$lrp: em(767);
$mdp: em(575);
$smp: em(479);

$lrl-mf: em(1400);
$mdl-mf: em(1200);
$sml-mf: em(1024);
$tbl-mf: em(992);
$lrp-mf: em(768);
$mdp-mf: em(576);
$smp-mf: em(480);