
$font-family: "Montserrat", sans-serif;


$mainDarkColor: #1F1C21;
$mainOrangeColor: #F6B817;
$secondaryOrangeColor: #F6B817;
$mainBlueColor: #5D8AA8;
$lightBlue: #ecf1f2;
$steelGray: #fefefe;
$greenColor: #24ad53;
$redColor: #e7401b;

$maxWidthContainer: 1620;
$rootFontSize: 16;
