html{
    &.lock{
        overflow: hidden;
    }
    scrollbar-width: 1px;

}

html:not(._touch){
    ::-webkit-scrollbar {
        width: 8px;
        height: 2px;
    }
    ::-webkit-scrollbar-thumb{
        background-color: rgba(93, 138, 136, 0.95);
    }
      /* Track */
    ::-webkit-scrollbar-track {
        background-color: rgba(93, 138, 136, 0.45);
    }
}
button:focus-visible {
    outline: 2px solid orangered;
}
.checkbox-csm{
    position: relative;
    accent-color: $fixedOrange;
    -webkit-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255, 0.03);
    border: rem(1) solid #ababab;
    width: rem(16);
    height: rem(16);
    display: inline-block;
    cursor: pointer;
    border-radius: rem(2);
    transition: background-color 0.1s ease-in-out;
    position: relative;
    &:focus{
        outline: none;
    }
    &:checked{
        &::after{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: rem(10);
            height: rem(10);
            background-color: $fixedOrange;
        }
    }
    &__text{
        cursor: pointer;
    }
    &__label{

    }
}


.notification {
    z-index: 20;
    position: fixed;
    top: rem(100);

    // .notification__container
    &__container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    // .notification__item
    &__item{
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
        &._active{
            transform: translateX(0);
        }
        &:not(:last-child){
            margin: 0 0 rem(8) 0;
        }
    }
    // .notification__body
    &__body{
        position: relative;
        border-top-right-radius: rem(5);
        border-bottom-right-radius: rem(5);
        &._success{
            background-color: $greenColor;
        }
        &._alert{
            background-color: $fixedOrange;
        }
        &._failure{
            background-color: $redColor;
        }
        padding: rem(10);
    }
    // .notification__message
    &__message {
        color: white;
        display: flex;
        align-items: center;
        gap: rem(10);
        &::before{
            font-size: rem(36);
        }
    }
    // .notification__message
    &__time {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 99%;
        height: rem(2);
        border-bottom-right-radius: rem(5);
        background-color: white;
        &._start{
            animation: time 3s linear forwards;
        }
    }
}

@keyframes time {
    to{
        width: 0%;
    }
}

.form{
    input:not([type="checkbox"]){
        width: 100%;
        font-size: rem(16);
        position: relative;
        outline: none;
        &:focus{
            &::placeholder{
                opacity: 0;
            }
        }
    }
    // .form__field
    &__field{
        position: relative;
        &:has(input[placeholder]){ // separate via data-?minimize-placeholder
            &::before {
                content: attr(data-placeholder);
                pointer-events: none;
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 1rem;
                z-index: 5;
                transform-origin: top left;
                transition: transform .35s;
            }
            input::placeholder {
                opacity: 0;
                visibility: hidden;
                color: transparent;
            }
            &._minimize-placeholder::before {
                transform: translateY(-150%) scale(80%);
            }
        }
        &:has(input:is([type="password"],[type="text"])[data-viewable]) {
            .show-pass {
                cursor: pointer;
                color: $dark;
                position: absolute;
                height: 100%;
                display: flex;
                align-items: center;
                z-index: 5;
                top: 50%;
                transform: translateY(-47%);
                right: rem(10);
                font-size: rem(20);
                transition: scale 0.1s ease-in-out, right 0.2s ease-in-out;
                
                @media (any-hover) {
                    &:hover {
                        scale: 1.05;
                    }
                }

                &::after{
                    content: "";
                    width: rem(0);
                    height: rem(1.5);
                    position: absolute;
                    top: 45%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%) rotateZ(-55deg);
                    background-color: $dark;
                    transition: width 0.15s ease-in-out;
                }

                &._display::after{
                    content: "";
                    width: rem(22);
                    height: rem(1.5);
                    position: absolute;
                    top: 45%;
                    left: 50%;
                    z-index: 10;
                    transform: translateY(-50%) translateX(-50%) rotateZ(-55deg);
                    background-color: $dark;
                }
            }
        }
        &:has(.form__field-result) {
            .show-pass {
                right: rem(30)!important;
                @media (max-width: $sml) {
                    right: rem(40)!important;
                }
            }
        }

        @media (max-width: $sml) {
            input {
                background: rgba(255, 255, 255, 0.5);
            }
        }

          // .form__field_auth
        &_auth {
        }
    }
    
    &__field-result{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: rem(10);
        opacity: 0;
        transition: opacity 0.1s ease-in-out;
        &._show-up{
            opacity: 1;
        }
        &_success{
            font-size: rem(18);
            color: $greenColor;
        }
        &_error{
            color: $fixedOrange;
        }
        @media (max-width: $sml) {
            height: 100%;
            width: rem(40);
            display: flex;
            align-items: center;
            justify-content: center;
            right: rem(0);
            &::before{

                font-size: rem(24);
                background-color: white;
                border-radius: 50%;
            }
        } 
        z-index: 5;
 
    }
    &__remember {
        .checkbox__label {
            color: #2e2e2e;
            cursor: pointer;
        }
        .checkbox__label::before{
            border: 1px solid #6a6a6a;
        }
    }
    // .form__submit
    &__submit {
        font-weight: 500;
        font-size: rem(16);
        padding: rem(16);
        border-radius: rem(8);
        &_auth {
            background-color: #000;
            color: #fff;
            @media (max-width: $sml) {
                background-color: rgb(44, 52, 120);
                backdrop-filter: blur(10px);
                letter-spacing: rem(2);
            }
        }
    }
}

._fade_anim{
    left: 0px;
    opacity: 1;
    position: relative;
    transition: all ease-in-out .25s;
}
._fade_out{
    left: 50px;
    opacity: 0;
}
._fade_in{
    left: -50px;
    opacity: 0;
}

.page {
    position: relative;
    z-index: 2;
    // .page_home
    &_home {
    }

    // .page_catalog
    &_catalog{
        padding-top: rem(30);
    }
    // .page_product
    &_product{
        padding-top: rem(30);
    }
}

.container{
    padding: 0 rem(15);
    margin: 0 auto;
    max-width: #{$maxWidthContainer}+'px';
    width: 100%;
    font-weight: 400;
    font-size: rem(16);
}



.page {
    // .page__header
    &__header {
        margin: 0 0 rem(30) 0;
    }
    // .page__container
    &__container {
    }
    // .page__title
    &__title {
        margin: 0 0 rem(25) 0;
        font-weight: 700;
        font-size: rem(24);
        color: $secondaryColor;
    }
    // .page__breadcrumbs
    &__breadcrumbs {
    }
}


.breadcrumbs {
    white-space: nowrap;
    overflow: auto;
    height: rem(22);
    // .breadcrumbs__list
    &__list {
        display: flex;
    }
    // .breadcrumbs__item
    &__item {
        span{
            cursor: default;
        }
    }
    // .breadcrumbs__link
    &__link {
        font-weight: 400;
        font-size: rem(16);
        color: $secondaryColor;
        opacity: 0.5;
        position: relative;
        display: flex;
        align-items: center;
        // display: flex;
        &::after{
            content: "\e901";
            @extend %ic;
            font-size: rem(12);
            margin: 0 rem(15);
        }
    }
    // .breadcrumbs__current
    &__current {
        font-weight: 400;
        font-size: 16px;
        color: $mainColor;
    }
}


.pagging {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // gap: rem(30);
    @include adaptive-value('gap', 30, 15, 1);
    // .pagging__arrow
    &__arrow {
        color: $mainColor;
        // .pagging__arrow_left
        &_left {
            transform: rotateY(180deg);
        }
        // .pagging__arrow_right
        &_right{

        }

        &:disabled{
            color: rgba(0, 0, 0, 0.12);
            &::before{
                cursor: default;
            }
        }
    }
    // .pagging__list
    &__list {
        display: flex;
        align-items: center;
        gap: rem(15);
    }
    // .pagging__item
    &__item {
 
    }
    // .pagging__link
    &__link {
        font-weight: 400;
        font-size: rem(18);
        line-height: 1.77778;
        width: rem(34);
        height: rem(34);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: all 0.1s ease-in-out;
        &._active{
            color: $white;
            background-color: $mainColor;
        }
        @media (any-hover: hover){
            &:hover{
                color: $white;
                background-color: $mainColor; 
            }
        }
    }
}

.product-card {
    cursor: pointer;
    padding: rem(30) rem(20);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
    background: #fefefe;
    display: flex;
    flex-direction: column;
    gap: rem(20);
    transition: all ease-in-out 0.3s;
    position: relative;
    height: 100%;
    overflow: hidden;
    &__band{
        position:absolute;
        color:#fff;
        font-weight:600;
        z-index:1;
        width:7.125rem;
        height:3rem;
        clip-path:polygon(0 100%,25% 40%,75% 40%,100% 100%);
        overflow:hidden;
        transform:translateX(-2.5rem) translateY(0) rotate(-45deg);
        left:0;
        top:0;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        justify-content:center;
        align-items:flex-end;

        span {
            text-transform: capitalize;
            display: block;
            position: relative;
            z-index: 2;
            bottom:.5rem;
            left:.25rem;
        }

        &_discount {
            background-color: #f6b817;
        }
        &_new {
            background-color: $greenColor;
        }
    }

    // .product-card__image-container
    &__image-container{

    }
    // .product-card__image
    &__image {
        padding-bottom: 100%;
        position: relative;
        overflow: hidden;
        img{
            width: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);

            height: 100%;
            object-fit: contain;
        }
        @media (max-width: $lrp){
            @include adaptive-value-between('padding-bottom', 252, 186, 767, 320);
        }
    }
    // .product-card__information
    &__information {
        flex: 1;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }
    // .product-card__buy
    &__button {
        gap: rem(16);
    }
    @media (any-hover: hover) {
        &:hover{
            box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
        }
    }
   
}
.information-product-card {
    // .information-product-card__title
    &__title {
        font-weight: 600;
        font-size: rem(20);
        line-height: 1.7;
        color: #141414;
    }
    // .information-product-card__features
    &__features {
        display: flex;
        justify-content: space-between;
        gap: rem(60);
        &:not(:last-child){
            margin: 0 0 rem(5) 0;
        }
    }
    // .information-product-card__size
    &__size {
    }
    // .information-product-card__materials
    &__materials {
        text-align: right;

    }
    // .information-product-card__review
    &__review {
        padding: 0 0 rem(20) 0;
        border-bottom: 1px solid rgba(20, 20, 20, 0.5);
        &:not(:last-child){
            margin: 0 0 rem(25) 0;
        }
    }
    // .information-product-card__price
    &__price {
        display: flex;
        justify-content: space-between;
    }
    &__actions{
        gap: rem(15);
    }
}
.review-information {
    display: flex;
    align-items: center;
    gap: rem(10);
    // .review-information__rating
    &__rating {
    }
    // .review-information__review
    &__review {
    }
}

.product-price {
    display: flex;
    align-items: last baseline;
    // .product-price___current
    &__current {
        font-weight: 600;
        font-size: rem(20);
        line-height: 1.7;
        color: $dark;
    }
    &__old{
        font-weight: 600;
        font-size: rem(16);
        text-decoration: line-through;
        color: $gray;
        margin: 0 0 0 rem(8);
    }
    &_big-card{
        .product-price__current {
            font-size: rem(28);
            font-weight: 800;
        }
        .product-price__old{
            font-size: rem(22);
            margin: 0 0 0 rem(12);
            font-weight: 600;
        }
    }
}

.product-card-actions {
    display: flex;
    // .product-card-actions__comp
    &__comp {
        font-size: rem(26);
        &:hover{
            color: $mainColor;
        }
    }
    // .product-card-actions__like
    &__like {
        font-size: rem(26);
        &:hover{
            color: $mainColor;
        }
    }
}


._addit-info{
    font-weight: 400;
    font-size: rem(16);
    line-height: 2.125;
    color: $gray;
    &_light{
        font-weight: 400;
    }
}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    // line-height: 2.3;
    color: $white;
    box-shadow: 0 4px 20px 0 $mainShadowColor;
    background-color: $mainColor;
    min-height: rem(50);
    border-radius: 3px;
    text-align: center;
    padding: rem(10);
    // .button_black
    &_black {
        background-color: $secondaryColor;
    }
}


