.product {
    // .product__container
    &__container {
    }
    // .product__main
    &__main {
    }
    // .product__information
    &__information {
    }
}

.main-product {
    display: grid;
    align-items: start;

    @include adaptive-value("padding-bottom", 120, 40, 1);
    @media (min-width: $tablet){
        
        grid-template-columns: percent(785, 1600) 1fr;
        &__images {
            padding: 0 rem(30) 0 0;
        }
    }

    // .main-product__images
    &__images {
    }
    // .main-product__body
    &__body {
    }
}
.images-product {
    display: grid;
    position: relative;
    // .images-product__slider
    &__show-image{
        
 
    }
    // .images-product__thumbs
    &__thumbs {
    }

    &__zoom-pane{
        
    }
}
.show-image{
    padding-bottom: percent(577, 754);
    position: relative;
    margin: 0 0 rem(16) 0;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
    &__wrapper{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__slide{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    
}

.thumbs-images {
    // .thumbs-images__slide
    &__slide {
        padding-bottom: percent(195, 754);
        cursor: pointer;
        border: 1px solid rgba(20, 20, 20, 0.15);
        img{
            position: absolute;
            top: 0;
            left: 0;
            object-fit: contain;
            height: 100%;
            width: 100%;
        }
    }
}

.zoom-pane{
    position: absolute;
    left: 100%;
    z-index: 100;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
    background-color: $white;
  
    &__container{
        position: relative;
        width: 100%;
        height: 100%;
        img{
            object-fit: contain;
        }
    }
}


.body-product {
    position: relative;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
    background: #fefefe;
    padding: rem(30);
    &>*:not(:last-child){
        border-bottom: 1px solid rgba(20, 20, 20, 0.15);
    }
    &>*:not(:first-child, :last-child){
        padding: rem(30) 0;
    }
    // .body-product__header
    &__header {
    }
    // .body-product__table
    &__table {
    }
    // .body-product__options
    &__options {
        position: relative;
        z-index: 0;
    }
    // .body-product__actions
    &__actions {
    }
    // .body-product__available 
    &__available{
        color: $redColor;
        font-weight: 400;
        font-size: rem(16);
        &._true{
            color: $greenColor;
        }
    }
}
.header-product {
    padding: 0 0 rem(30) 0;

    // .header-product__line
    &__line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(20);
        &:not(:last-child){
            margin: 0 0 rem(15) 0;
        }

        // .header-product__line_secondary
        &_secondary{
            justify-content: flex-start;
      
        }
        @media (max-width: $phone){
            flex-direction: column;
            align-items: flex-start;
            &_secondary{
                align-items: center;
                flex-direction: row;
            }
        }
    }
    // .header-product__title
    &__title {
        font-weight: 700;
        font-size: rem(24);
        color: $secondaryColor;
    }
     // .header-product__mods
    &__mods{margin:0 auto 0 0;display:flex;gap:1rem}
    // .header-product__new
    &__new{
        background-image: linear-gradient(135deg, $greenColor 35%, #65aa65 45%, $greenColor 50%, $greenColor 65%);
    }
     // .header-product__discount
    &__discount{
        background-image:linear-gradient(135deg,#f6b817 35%,#f7d681 45%,#f6b817 50%,#f6b817 65%)
    }
    &__new, &__discount {
        text-transform:capitalize;
        margin: 0 auto 0 0;
        padding: rem(4) rem(10);
        color: $white;
        border-radius: rem(4);
        background-size: 200% 100%;
        background-position: 150% 100%;
        animation: glow 2s ease-in-out infinite;
        cursor: default;
    }
}
@keyframes glow {
    to {
        background-position: -50% -100%;
    }
}

.header-product-card{
    // .header-product-card__actions
    &__actions {
        gap: rem(30);
    }
}

.table-product {
    display: grid;
    align-items: center;
    gap: rem(20);
    // .table-product__label
    &__label {
        font-weight: 400;
        font-size: rem(18);
        color: #141414;
    }
    // .table-product__value
    &__value {
        font-weight: 400;
        font-size: rem(18);
        color: rgba(20, 20, 20, 0.5);
    }

    @media (min-width: rem(768)){
        grid-template-columns: rem(200) 1fr;
    }
}
.options-product {
    align-items: center;
    display: grid;
    gap: rem(20);
    // .options-product__label
    &__label {
        font-weight: 400;
        font-size: 18px;
        color: #141414;
    }
    // .options-product__value
    &__value {
    }
    @media (min-width: rem(768)){
        grid-template-columns: rem(200) 1fr;
    }
}


.actions-product {
    padding: rem(30) 0 0 0;
    // .actions-product__price
    &__price {
        margin: 0 0 rem(30) 0;
    }
    // .actions-product__row
    &__row {
        display: flex;
        gap: rem(20);

    }
    // .actions-product__quantity
    &__quantity {
    }
    // .actions-product__buttons
    &__buttons {
        display: flex;
        gap: rem(20);
        flex-wrap: wrap;
        flex: 1 1 auto;
        @media (min-width: rem(1416)){
            justify-content: flex-end;
        }
    }
    // .actions-product__cart
    &__cart {
        max-width: rem(228);
        min-width: rem(168);
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        gap: rem(15);

    }
    // .actions-product__buy
    &__buy {
        max-width: rem(228);
        min-width: rem(168);
        width: 100%;
    }
    @media (max-width: rem(1415)){
        &__row {
            flex-direction: column;
        }
    }
}
.quantity {
    // .quantity__button
    &__button {
        // .quantity__button_plus
        &_plus {
        }
        // .quantity__button_minus
        &_minus {
        }
    }
    // .quantity__input
    &__input {
    }
}



.information-product {
    @include adaptive-value("padding-bottom", 120, 40, 1);

    // .information-product__body
    &__body{
        overflow: hidden;
        padding: rem(30);
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
        background: #fefefe;
    }
    // .information-product__tabs
    &__tabs{
        display: flex;
        @include adaptive-value("gap", 60, 30, 1);
        padding: 0 0 rem(20) 0;
        margin: 0 0 rem(24) 0;
        border-bottom: rem(1) solid rgba(20, 20, 20, 0.15);
        overflow-x: scroll;
        overflow-y: clip;
    }
    // .information-product__tab
    &__tab {
        position: relative;
        cursor: pointer;
        &._active{
            &::after{
                content: '';
                position: absolute;
                top: calc(100% + rem(19));
                left: 0;
                width: 100%;
                border-bottom: rem(3) solid $mainColor;
            }
        }
    }
    // .information-product__blocks
    &__blocks {
    }
    // .information-product__block
    &__block {
    }
   
}

.information {
    // .information__product
    &__product {
    }
}

._tabs {

}
._tabs-item {
    font-weight: 400;
    font-size: 20px;
    color: rgba(20, 20, 20, 0.5);
    &._active{
        font-weight: 700;
        font-size: 20px;
        color: #141414;
    }

}
._tabs-block {
	display: none;
    color: rgba(20, 20, 20, 0.6);
    line-height: 1.5;
    font-size: rem(18);
	&._active {
		display: block;
	}
}


.product-block-description {
    font-weight: 600;
}

.product-block-additional-info {
    // .product-block-additional-info__list
    &__list {
    }
    // .product-block-additional-info__item
    &__item {
        display: flex;
        align-items: center;
        font-weight: 600;
        gap: rem(8);
        &::before{
            content: "";
            display: inline-block;
            position: relative;
            width: rem(8);
            height: rem(8);
            background-color: $mainColor;
            border-radius: rem(2);
        }
    }
}
.product-block-review {
   
    // .product-block-review__list
    &__list {
        padding: 0 rem(40);
    }
    // .product-block-review__item
    &__item {
        padding: rem(15) rem(20);
        &:not(:last-child){
            border-bottom: 2px solid rgba(20, 20, 20, 0.15);
            margin: 0 0 rem(16) 0;
        }
    }
    // .product-block-review__header
    &__header {
        display: grid;
        gap: rem(2);
        grid-template-columns: rem(60) 1fr;
        grid-template-rows: auto auto;
        margin: 0 0 rem(12) 0;
    }
    // .product-block-review__user-image
    &__user-image {
        grid-row: span 2;
        width: rem(48);
        height: rem(48);
        border-radius: 50%;
    }
    // .product-block-review__user-name
    &__user-name {
        grid-column: 2 / 3;
        font-weight: bold;
    }
    // .product-block-review__user-rating
    &__user-rating {
        grid-column: 2 / 3;
        flex: 0 0 1fr;
    }
    // .product-block-review__body
    &__body {
        margin: 0 0 0 rem(60);
    }

    @media (max-width: $tablet){
        &__list{
            padding: 0;
        }
        &__item{
            padding: rem(15) rem(0);
        }
    }
}
